server:
  port: 8390

spring:
#  h2:
#    console:
#      enabled: true

  datasource:
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: root
    url: jdbc:postgresql://localhost:5959/java9Movie_App_Db
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
